.bg-primary {
  background-color: #EED3D3 !important;
}

.btn-primary {
  background-color: #B48686 !important;
  border-color: #B48686 !important;
  margin-bottom: 0.5rem;
}

.btn-primary:hover, 
.btn-primary:focus {
  background-color: #9a7171 !important;
  border-color: #9a7171 !important;
}

.dropdown-item.nala-text {
  color: #9a7171 !important;
}

.btn-secondary {
  background-color: #d75050 !important;
  margin-bottom: 0.5rem;
}

.custom-icon-btn{
  width: 100%;
}
