.padding-top{
  padding-top: 2rem;
}

.bg-primary {
  background-color: #EED3D3 !important;
}

.btn-primary {
  background-color: #B48686 !important;
  border-color: #B48686 !important;
  margin-bottom: 0.5rem;
}

.btn-primary:hover, 
.btn-primary:focus {
  background-color: #9a7171 !important;
  border-color: #9a7171 !important;
}

.dropdown-item.nala-text {
  color: #9a7171 !important;
}

.btn-secondary {
  background-color: #d75050 !important;
  border-color: #d75050 !important;
  margin-bottom: 0.5rem;
}

.btn-bottom{
  background-color: #bcbcbc !important;
  border-color: #bcbcbc !important;
  margin-bottom: 0.5rem;
}

.custom-icon-btn {
  width: 100%;
  text-align: center;
}

/* Smooth collapse/expand transitions */
#sidebar {
  z-index: 1030; /* Stay above main content if needed */
  transition: all 0.3s ease;
  overflow-y: auto;
  padding-top: 56px; /* Account for fixed top navbar */
}

@media (max-width: 768px) {
  #sidebar {
    transform: translateX(-100%);
    position: fixed;
  }

  #sidebar.show {
    transform: translateX(0);
  }
}

/* Ensure the navbar stays on top */
.navbar {
  position: fixed; /* Make it fixed at the top */
  top: 0;
  left: 0;
  width: 100%; /* Ensure the navbar stretches across the screen */
  z-index: 1040; /* Make sure it's above other content */
}

/* Sidebar */
#sidebar {
  position: fixed;
  top: 56px; /* Start from just below the navbar */
  left: 0;
  bottom: 0;
  width: 250px; /* Sidebar width */
  z-index: 1030; /* Sidebar stays below navbar */
  overflow-y: auto; /* Allow sidebar scrolling */
  transition: all 0.3s ease;
  background-color: #eed3d3; /* Dark background for sidebar */
}

/* Mobile Sidebar toggle */
@media (max-width: 768px) {
  #sidebar {
    top: 56px; /* Adjust for navbar height on mobile */
  }

  #sidebar.show {
    transform: translateX(0); /* Show sidebar when toggled */
  }
}

/* Add padding to the body or main content to push everything below the fixed navbar */
body {
  padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

/* Alternatively, you can add padding to the main content area */
main {
  padding-top: 70px; /* This will give space from the navbar */
}

.navbar-brand {
  height: 60px;
  display: flex;
  align-items: center; /* Align the logo and text vertically */
}

.navbar-logo {
  height: 170px; /* Adjust the height of the logo */
  width: auto;  /* Maintain aspect ratio */
  object-fit: contain;
  padding-left: 25px;
}

.nav {
  padding-top: 20px;
}

